@color-gray-light: #8F95AC;
@color-black-light: #2C2E3E;
@color-black-dark: #1E2030;
@color-red: #FF2D23;

@width-md: 768px;
@width-lg: 1280px;
@width-xl: 1600px;

* {
  box-sizing: border-box;
}

html, body, p {
  padding: 0;
  margin: 0;
}

body {
  font-family: Formular, sans-serif;
  .text-normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: Formular, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

h1, .h1 {
  font-size: 30px;
  line-height: 35px;

  @media screen and (min-width: @width-lg) {
    font-size: 42px;
    line-height: 50px;
  }

  @media screen and (min-width: @width-xl) {
    font-size: 48px;
    line-height: 55px;
  }
}

h2, .h2 {
  font-size: 26px;
  line-height: 33px;

  @media screen and (min-width: @width-lg) {
    font-size: 30px;
    line-height: 35px;
  }

  @media screen and (min-width: @width-xl) {
    font-size: 35px;
    line-height: 40px;
  }
}

h3, .h3 {
  font-size: 18px;
  line-height: 22px;

  @media screen and (min-width: @width-lg) {
    font-size: 20px;
    line-height: 26px;
  }

  @media screen and (min-width: @width-xl) {
    font-size: 25px;
    line-height: 30px;
  }
}

h5, .h5 {
  font-size: 14px;
  line-height: 18px;

  @media screen and (min-width: @width-lg) {
    font-size: 14px;
    line-height: 17px;
  }

  @media screen and (min-width: @width-xl) {
    font-size: 16px;
    line-height: 20px;
  }
}

.text-big {
  font-family: Formular, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;

  @media screen and (min-width: @width-lg) {
    font-size: 18px;
    line-height: 26px;
  }

  @media screen and (min-width: @width-xl) {
    font-size: 20px;
    line-height: 34px;
  }
}

.text-normal {
  font-family: Formular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media screen and (min-width: @width-lg) {
    font-size: 14px;
    line-height: 18px;
  }

  @media screen and (min-width: @width-xl) {
    font-size: 14px;
    line-height: 18px;
  }
}

.text-decoration-none {
  text-decoration: none;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-gray-light {
  color: @color-gray-light;
}

.text-black-light {
  color: @color-black-light;
}

.text-black-dark {
  color: @color-black-dark;
}

.text-red {
  color: @color-red;
}

.text-center {
  text-align: center;
}

.base-btn {
  &:extend(.h5);
  display: inline-flex;
  text-decoration: none;
  border: 0 solid transparent;
  color: white;
  padding: 0 22px;
  align-items: center;
  transition: box-shadow .2s ease-in-out;
  border-radius: 40px;
  cursor: pointer;

  height: 40px;

  @media screen and (min-width: @width-lg) {
    height: 50px;
  }
}

.btn {
  &:extend(.base-btn);

  &.btn-big {
    height: 60px;
  }
}

.btn-danger {
  padding: 0 36px;
  background-color: @color-red;

  &:hover {
    box-shadow: 0 10px 20px 0 #FF2D234D;
  }

  &:active {
    background-color: #b32d23;
  }

  @media screen and (min-width: @width-lg) {
    padding: 0 46px;
  }
}


.pl-lg-10 {
  @media screen and (min-width: @width-lg) {
    padding-left: 10px;
  }
}
.pr-lg-10 {
  @media screen and (min-width: @width-lg) {
    padding-right: 10px;
  }
}

.pl-xl-15 {
  @media screen and (min-width: @width-xl) {
    padding-left: 15px;
  }
}

.pr-xl-15 {
  @media screen and (min-width: @width-xl) {
    padding-right: 15px;
  }
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.white-space-nowrap {
  white-space: nowrap;
}

.w-25p {
  width: 25% !important;
}

.align-items-start {
  align-items: flex-start;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}