@import "base";
@import "fonts";

.header {
  .header__logo img {
    width: 58px;

    @media screen and (min-width: @width-lg) {
      width: 75px;
    }
  }

  nav {
    height: 60px;
    background-color: @color-black-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    @media screen and (min-width: @width-lg) {
      height: 80px;
      padding: 0 40px;
    }

    @media screen and (min-width: @width-xl) {
      padding: 0 65px;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    @media screen and (min-width: @width-xl) {
      gap: 48px;
    }

    @media screen and (min-width: @width-xl) {
      gap: 48px;
    }

    &__item {
      a {
        &:extend(.base-btn);

        &:hover {
          background-color: rgba(@color-gray-light, .2);
        }

        &.active {
          background-color: @color-red;
        }
      }

      &:has(.submenu) {
        > a:after {
          content: "";
          width: 5px;
          height: 5px;
          border-left: 1px solid white;
          border-bottom: 1px solid white;
          transform: translateY(-2px) rotate(-45deg);
          display: inline-block;
          margin-left: 12px;
          transition: all .2s ease-in-out;
        }

        a.active:after {
          transform: translateY(2px) rotate(135deg);
        }
      }
    }

    .submenu {
      display: none;
      background-color: @color-black-light;
      border-radius: 9px;
      position: absolute;
      top: 68px;
      transform: translateX(-12px);
      padding: 23px 32px 0;
      list-style: none;
      width: 535px;

      a {
        padding: 0;
        background: none;
        height: inherit;
        margin: 0 0 6px;
      }

      @media screen and (min-width: @width-lg) {
        top: 88px;
      }

      &.active {
        display: flex;
        flex-wrap: wrap;
      }

      &__item {
        display: flex;
        gap: 10px;
        width: 50%;
        padding-bottom: 20px;

        &:first-child,
        &:nth-child(2) {
          border-bottom: 1px solid rgba(@color-gray-light, .5);
          margin-bottom: 20px;
        }

        img {
          margin-top: 2px;
          width: 21px;
          height: 14px;
        }
      }
    }
  }
}

.hero {
  height: 755px;
  background: @color-black-dark url("../hero-bg.png") no-repeat;
  background-position-y: 114px;
  background-position-x: 416px;
  background-size: 309px 333px;

  .container {
    padding-top: 106px;
  }

  @media screen and (min-width: @width-lg) {
    background-position-x: 753px;
    background-position-y: 132px;
    background-size: 386px 416px;
  }

  @media screen and (min-width: @width-xl) {
    height: 805px;

    background-position-x: 943px;
    background-position-y: 112px;
    background-size: 466px 502px;
  }

  h1, .h1 {
    color: white;
  }

  .form {
    input:not([type=checkbox]), select {
      width: 100%;
    }

    .mt-28 {
      margin-top: 28px;
    }

    .label-city {
      margin-bottom: 6px;
    }

    .label-email {
      margin-bottom: 6px;
    }

    .input-email input, select {
      height: 60px;
      border: 1px solid @color-gray-light;
      border-radius: 4px;
      padding: 0 18px;
      background-color: transparent;
      color: white;

      @media screen and (min-width: @width-lg) {
        padding: 0 26px;
      }
    }

    .rules-apply {
      margin-top: 28px;
      position: relative;

      label {
        margin-left: 20px;
      }

      input[type=checkbox] {
        position: relative;
        margin: 0;

        &:after {
          content: "";
          display: block;
          width: 18px;
          height: 18px;
          background-color: @color-black-dark;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          border: 1px solid @color-gray-light;
          border-radius: 2px;
        }

        .checkbox__check {
          opacity: 0;
          transition: opacity .2s ease-in-out;
        }

        &:checked {
          &:before {
            position: absolute;
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border: 1px solid @color-red;
            background-color: @color-red;
            border-radius: 2px;
            user-select: none;
          }

          & + .checkbox__check {
            opacity: 1;
            width: 14px;
            height: 8px;
            transform: rotate(-45deg);

            border: 8px solid transparent;
            border-left: 2px solid white;
            border-bottom: 2px solid white;
            position: absolute;
            top: 1px;
            left: 3px;
          }
        }
      }
    }

    button {
      margin-top: 35px;
    }

    .choices {
      &.is-open {
        .choices__inner {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .is-open.choices[data-type*="select-one"]:after {
      transform: rotate(135deg);
    }


    .choices[data-type*="select-one"]:after {
      content: "";
      height: 5px;
      width: 5px;
      transform: rotate(-45deg);
      pointer-events: none;
      border: 0 solid transparent;
      border-left: 1px solid @color-gray-light;
      background: none;
      border-bottom: 1px solid @color-gray-light;
      margin-top: -2.5px;
      position: absolute;
      top: 50%;
      right: 11.5px;
      transition: transform .1s ease-in-out;
    }

    .choices__inner {
      background-color: transparent;
      height: 60px;
      color: @color-gray-light;
      border-color: @color-gray-light;
      border-radius: 4px;

      @media screen and (min-width: @width-lg) {
        padding-left: 26px;
        padding-right: 26px;
      }
    }

    .choices__list--single {
      padding-top: 12px;
    }

    .choices__list {
      background-color: @color-black-dark;
    }

    .is-open .choices__list--dropdown {
      border-color: @color-gray-light;
      padding: 8px 12px;
    }

    .choices__item {
      color: white;
      //margin: 0 8px;
      border-radius: 3px;
    }

    .choices__item.choices__item--choice.choices__item--selectable.is-highlighted {
      background-color: @color-black-light;
    }
  }
}

.slider-section {
  padding-top: 70px;

  @media screen and (min-width: @width-lg) {
    padding-top: 85px;
  }

  @media screen and (min-width: @width-xl) {
    padding-top: 83px;
  }

  .slider {
    margin-top: 32px;
    margin-bottom: 107px;

    @media screen and (min-width: @width-lg) {
      margin-top: 41px;
      margin-bottom: 137px;
    }

    @media screen and (min-width: @width-xl) {
      margin-top: 53px;
      margin-bottom: 190px;
    }
  }

  .glide__arrows {
    .glide__arrow {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;

      &--left {
        transform: translateX(-50px) translateY(-50%);
        box-shadow: 0 4px 20px rgba(143, 149, 172, 0.2);

        &:before {
          transform: rotate(45deg);
          margin-left: 4px;
        }
      }

      &--right {
        transform: translateX(50px) translateY(-50%);
        box-shadow: 0 4px 20px rgba(143, 149, 172, 0.2);

        &:before {
          transform: rotate(225deg);
          margin-right: 4px;
        }
      }

      &:before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border: 1px solid @color-black-light;
        border-top: none;
        border-right: none;
      }
    }
  }

  .glide__bullets {
    bottom: -32px;

    @media screen and (min-width: @width-lg) {
      bottom: -41px;
    }

    @media screen and (min-width: @width-xl) {
      bottom: -53px;
    }
  }

  .glide__bullet {
    width: 7px;
    height: 7px;
    border: none;
    background-color: rgba(@color-gray-light, .3);

    &:hover {
      border: none;
      background-color: rgba(@color-red, .5);
    }

    &--active, &:focus {
      border: none;
      background-color: @color-red;
    }
  }

  .glide__slide {
    position: relative;
    width: 231px;
    height: 167px;
    border-radius: 5px;
    overflow: hidden;

    .rating-stars {
      position: absolute;
      bottom: 18px;
      left: 22px;
      @media screen and (min-width: @width-lg) {
        bottom: 31px;
        left: 42px;
      }
    }

    @media screen and (min-width: @width-lg) {
      height: 280px;
    }

    @media screen and (min-width: @width-xl) {
      height: 348px;
    }

    img {
      width: 100%;
    }
  }
}

.rating-stars {
  display: flex;
  gap: 8px;

  @media screen and (min-width: @width-lg) {
    gap: 10px;
  }

  .i-star {
    color: white;
    width: 15px;
    height: 15px;

    @media screen and (min-width: @width-lg) {
      width: 20px;
      height: 20px;
    }
  }

  &--one {
    .i-star:nth-child(1) {
      color: @color-red;
    }
  }

  &--two {
    .i-star:nth-child(1),
    .i-star:nth-child(2) {
      color: @color-red;
    }
  }

  &--three {
    .i-star:nth-child(1),
    .i-star:nth-child(2),
    .i-star:nth-child(3) {
      color: @color-red;
    }
  }

  &--four {
    .i-star:nth-child(1),
    .i-star:nth-child(2),
    .i-star:nth-child(3),
    .i-star:nth-child(4) {
      color: @color-red;
    }
  }

  &--five {
    .i-star {
      color: @color-red;
    }
  }
}

.progress-bar-section {
  margin-bottom: 82px;

  &__text {
    margin-top: 23px;
  }

  &__columns {
    gap: 62px;
  }

  .progress-bar {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(@color-gray-light, .1);

    &__fill {
      &:extend(.h5);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      border-radius: 40px;
      min-width: 64px;
      width: 5%;
      background-color: @color-black-light;
      text-align: center;
      color: white;
      transition: all .3s ease-in-out;
    }
  }
}

.map-section {
  padding-bottom: 35px;
  @media screen and (min-width: @width-lg) {
    padding-bottom: 47px;
  }

  @media screen and (min-width: @width-xl) {
    padding-bottom: 81px;
  }

  #map {
    height: 251px;
    background-image: url("../map-768.png");
    background-size: cover;
    position: relative;

    @media screen and (min-width: @width-lg) {
      height: 414px;
      background-image: url("../map-1280.png");
    }

    @media screen and (min-width: @width-xl) {
      height: 506px;
      background-image: url("../map-1600.png");
    }

    .map-popup {
      position: absolute;
      width: 247.15px;
      background: #FFFFFF;
      border-radius: 5px;
      box-shadow: 0 4px 20px rgba(143, 149, 172, 0.2);

      left: 266.5px;
      top: 32px;
      padding-left: 37px;
      padding-top: 25px;
      padding-right: 32px;

      @media screen and (min-width: @width-lg) {
        left: 456px;
        top: 104px;
        width: 310px;
        padding-left: 51px;
        padding-top: 41px;
        padding-right: 50px;
        padding-bottom: 40px;
      }

      @media screen and (min-width: @width-xl) {
        left: 500px;
        top: 113px;
        padding-left: 37px;
        padding-top: 25px;
        padding-right: 32px;
      }

      p {
        margin-top: 14px;
      }

      a {
        text-decoration: none;
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid @color-red;
        margin-top: 8px;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 32px 32px 0 0;
        border-color: white transparent transparent transparent;
      }
    }
  }
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 23px;

  @media screen and (min-width: @width-lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 48px;
  }

  @media screen and (min-width: @width-xl) {
    gap: 30px;
    margin-bottom: 65px;
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(143, 149, 172, 0.15);
    border-radius: 5px;
    cursor: pointer;
    padding: 26px 20px 28px;
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px rgba(143, 149, 172, 0.4);
    }
  }
}


.back-button {
  display: inline-flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: @color-black-dark;
  text-decoration: none;

  &-wrap {
    display: flex;
    flex-direction: row-reverse;
  }

  &__arrow {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: @color-black-light;

    &:after {
      content: "";
      width: 6px;
      height: 6px;
      border-left: 1px solid white;
      border-top: 1px solid white;
      transform: rotate(45deg);
    }
  }
}

.footer {
  &__content {
    display: flex;
    padding-top: 24px;
    padding-bottom: 90px;
    margin-top: 27px;
    border-top: 1px solid rgba(@color-gray-light, .2);
  }

  &__address,
  &__contact {
    width: 161px;

    @media screen and (min-width: @width-lg) {
      width: 286px;
    }
  }

  &__phone {
    flex-grow: 1;
    white-space: nowrap;
    text-align: center;
  }

  &__contact {
    text-align: right;

    a {
      white-space: nowrap;
      text-decoration: none;
      color: @color-red;
      display: inline-block;
      padding-bottom: 2px;
      border-bottom: 1px solid @color-red;
    }
  }
}

.spoiler {
  &:extend(.text-normal);
  color: @color-gray-light;
  cursor: pointer;
  margin-top: 26px;
  display: flex;
  gap: .5rem;
  align-items: center;

  &:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg) translateY(-2px);
    transition: all .2s linear;
  }

  .spoiler__visible-text {
    display: none;
  }

  &__hidden-text {
    display: block;
  }

  &.active {
    &:after {
      transform: rotate(-225deg) translateY(-2px);
    }

    .spoiler__visible-text {
      display: block;
    }
    .spoiler__hidden-text {
      display: none;
    }
  }
}

.spoiled-text {
  transition: all .3s linear;
  max-height: 300px;
}

.hidden-by-spoiler {
  max-height: 0;
  overflow: hidden;
}

.columns {
  display: flex;
  flex-wrap: wrap;

  &.flex-no-wrap {
    .flex-no-wrap()
  }

  .column {
    display: block;
  }

  .is-full {
    width: 100%;
  }

  .is-half {
    width: 50%;
  }

  .is-lg-half {
    @media screen and (min-width: @width-lg) {
      width: 50%;
    }
  }

  &.gap-16 {
    gap: 16px;
  }

  .column-half {
    width: 50%;
  }

  .is-xl-five-twelve {
    @media screen and (min-width: @width-xl) {
      width: 59%;
    }
  }
}

.container {
  max-width: 604px;
  margin: 0 auto;

  @media screen and (min-width: @width-lg) {
    max-width: 1000px;
  }

  @media screen and (min-width: @width-xl) {
    max-width: 1220px;
  }
}